<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="enclosure-info">
  <template>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        --app-primary-color: #002447;
        --app-home: #00a9a5;
        --app-toolbar-item: #002447;
        --app-toolbar-item-color: #00bdff;
        --app-toolbar-back: #004380;
        --app-panel: #cfedf9;
        --app-secondary-color: black;


        padding: 20px 20px;
        display: block;
      }

      th,
      td {
        border-bottom: 1px solid #ddd;
        font-size: 10px;
        padding: 0px 0px;
      }

      th {
        color: var(--app-panel);
        background: var(--app-primary-color);
      }

      td {
        color: var(--app-toolbar-item);
        background: var(--app-panel);
        padding: 1px;
      }

      h1 {
        color: #fff;
      }

      paper-button {
        font-weight: bold;
      }

      paper-button {
        color: #fff;
      }

      paper-button.primary {
        background: var(--app-primary-color);
      }

      #mensaje {
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
        color: white;
      }

      paper-icon-button.blueitem:hover {
        color: white;
      }

      paper-icon-button.blueitem {
        color: var(--app-toolbar-item-color);
        border-radius: 1px;
        padding: 1px;
        height: 5px;
      }

      .full {
        display: table;
        width: 100%;
      }

      .left,
      .right {
        display: table-cell;
        width: 50%;
      }
    </style>

    <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="json"
      on-response="handleUserResponse" on-error="handleUserError">
    </iron-ajax>

    <iron-ajax id="getEnclosuresAjax" method="get" content-type="application/json" handle-as="json"
      on-response="getEnclosuresResponse" on-error="getEnclosuresError">
    </iron-ajax>

    <iron-ajax id="getEnclosureAjax" method="get" content-type="application/json" handle-as="json" on-response="getEnclosureResponse"
      on-error="getEnclosureError">
    </iron-ajax>

    <iron-ajax id="deleteEnclosureAjax" method="delete" handle-as="text" on-response="deleteEnclosureResponse"
      on-error="deleteEnclosureError">
    </iron-ajax>

    <iron-ajax id="updateEnclosureAjax" method="put" handle-as="text" on-response="updateEnclosureResponse"
      on-error="updateEnclosureError">
    </iron-ajax>

    <iron-ajax id="createEnclosureAjax" method="post" content-type="application/json" handle-as="json"
      on-response="createEnclosureResponse" on-error="createEnclosureError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <p id="mensaje" hidden$="[[storedUser.loggedin]]">Debe <a href="/register-login">Iniciar Sesión</a> para poder
      acceder!</p>

    <template is="dom-if" if="[[error]]">
      <p class="alert-error"><strong>Error:</strong> [[error]]</p>
    </template>
    <div class="card" hidden$="[[!storedUser.loggedin]]">


      <div class="container">
        <div class="row">

          <div class="full">
            <div class="left">
              Enclosures
            </div>
            <div class="right">
              <span>
                <paper-icon-button icon="my-icons:refresh" class="primary" on-tap="getEnclosures"
                  title="Actulizar enclosures">
                  </paper-button>
              </span>
              <span>
                <iron-input slot="input" auto-validate bind-value="{{formData.name}}">
                  <input id="NewEnclosure " type="text" title="Ingrese Nombre de Nuevo Enclosure"
                    value="{{formData.name}}">
                </iron-input>
                <paper-icon-button icon="my-icons:add-circle" class="primary" on-tap="createEnclosure"
                  title="Agregar enclosures">
                  </paper-button>
              </span>
            </div>
          </div>


        </div>
        <div class="row" style="overflow-y: scroll;height: 200px;">
          <table class="table">
            <thead></thead>
            <tr>
              <th>Nombre</th>
              <th>Rack</th>
              <th>SerialNumber</th>
              <th>Ubicacion</th>
              <th>Estado</th>
              <th></th>

            </tr>
            <tbody>
              <template is="dom-repeat" items="{{enclosures}}">
                <tr>
                  <td>[[item.Nombre]]</td>
                  <td>[[item.Rack]]</td>
                  <td>[[item.SerialNumber]]</td>
                  <td>[[item.Ubicacion]]</td>
                  <td>[[item.Estado]]</td>
                  <td>
                    <span>
                      <paper-icon-button id="delete_[[item.Nombre]]" icon="my-icons:cancel" class="primary"
                        on-tap="deleteEnclosure" title="Eliminar enclosure [[item.Nombre]]">
                        </paper-button>
                    </span>
                    <span>
                      <paper-icon-button id="update_[[item.Nombre]] " icon="my-icons:refresh" class="primary"
                        on-tap="updateEnclosure" title="Actulizar enclosure [[item.Nombre]]">
                        </paper-button>
                    </span>
                    <span>
                      <paper-icon-button id="view_[[item.Nombre]] " icon="my-icons:remove-red-eye" class="primary"
                        on-tap="getEnclosure" title="Detalles enclosure [[item.Nombre]]">
                        </paper-button>
                    </span>
                  </td>

                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div class="row"><br></div>
        <div class="row" style="overflow-y: scroll;height: 250px;">
            <table class="table">
              <thead></thead>
              <tr>
                <th>Bay</th>
                <th>Name</th>
                <th>Model</th>
                <th>SerialNumber</th>
                <th>Rom</th>
                <th>Firmware</th>
                <th>Status</th>
                <th>Power</th>
              </tr>
              <tbody>
                <template is="dom-repeat" items="{{enclosureSelected}}">
                  <tr>
                    <td>[[item.Bay]]</td>
                    <td>[[item.Name]]</td>
                    <td>[[item.SerialNumber]]</td>
                    <td>[[item.Model]]</td>
                    <td>[[item.Rom]]</td>
                    <td>[[item.Firmware]]</td>
                    <td>[[item.Status]]</td>
                    <td>[[item.Power]]</td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
      </div>
    </div>

  </template>


  <script>
    class EnclosureInfo extends Polymer.Element {
      static get is() {
        return 'enclosure-info';
      }
      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          error: String,

          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      ready() {
        super.ready();
        this.getEnclosures();
      }


      getEnclosures() {
        const fields = ["_id", "data.RIMP.INFRA2.RACK", "data.RIMP.INFRA2.ENCL_SN", "data.RIMP.INFRA2.ASSET",
          "data.RIMP.INFRA2.STATUS"
        ]
        this.$.getEnclosuresAjax.url =
          `http://visto-api:3001/api/enclosure?select=${fields.join()}`;
        
        this.$.getEnclosuresAjax.generateRequest();
      }

      getEnclosure(e){
        console.log(e.model.item.Nombre);
        this.$.getEnclosureAjax.url = `http://visto-api:3001/api/enclosure/${e.model.item.Nombre}`;
        
        this.$.getEnclosureAjax.generateRequest();       
      }

      deleteEnclosure(e) {
        if (!confirm('Desea eliminar la información del enclosure?')) return;

        console.log(e.model.item.Nombre);
        this.$.deleteEnclosureAjax.url = `http://visto-api:3001/api/enclosure/${e.model.item.Nombre}`;

        
        this.$.deleteEnclosureAjax.generateRequest();

      }

      createEnclosure(e) {
        


        console.log(this.formData);
        this.$.createEnclosureAjax.url = "http://visto-api:3001/api/enclosure/";
        this.$.createEnclosureAjax.body = this.formData;

        this.$.createEnclosureAjax.generateRequest();

      }

      createEnclosureResponse(event) {
        this.error = "";

        var response = event.detail.response;

        console.log("response")
        console.log(response)

        this.getEnclosures()

      }

      createEnclosureError(event) {
        console.log("createEnclosureError")
        console.log(event.detail.error.message);
        if ("xhr" in event.detail.request) {
          this.error = event.detail.request.xhr.response.message;
          console.log(this.error);
        } else {
          this.error = event.detail.error.message;
          console.log(this.error);
        }
      }
      updateEnclosure(e) {
        if (!confirm('Desea actualizar la información del enclosure?')) return;

        console.log(e.model.item.Nombre);
        this.$.updateEnclosureAjax.url = `http://visto-api:3001/api/enclosure/${e.model.item.Nombre}`;

        
        this.$.updateEnclosureAjax.generateRequest();

      }

      updateEnclosureResponse(event) {
        var response = event.detail.response;

        console.log("response")
        console.log(response)

        this.getEnclosures()

      }

      updateEnclosureError(event) {
        console.log("updateEnclosureError")
        if (!event.detail.request.xhr.response) {
          this.error = event.detail.request.xhr.response.message;
          console.log(this.error);
        } else {
          this.error = event.detail.error.message;
        }
      }

      deleteEnclosureResponse(event) {
        var response = event.detail.response;

        console.log("response")
        console.log(response)

        this.getEnclosures()

      }

      deleteEnclosureError(event) {
        console.log("deleteEnclosureError")
        if (!event.detail.request.xhr.response) {
          this.error = event.detail.request.xhr.response.message;
          console.log(this.error);
        } else {
          this.error = event;
        }
      }


      getEnclosureResponse(event) {
        this.error = "";
        var response = event.detail.response;

        console.log("response")
        console.log(response)
        console.log(response.enclosure.data.RIMP.INFRA2[0].BLADES[0].BLADE)

        this.enclosureSelected= response.enclosure.data.RIMP.INFRA2[0].BLADES[0].BLADE.map( item =>{
          return {
            "Bay": item.BAY[0].CONNECTION[0],
            "Name": item.NAME[0],
            "Model": item.SPN[0],
            "SerialNumber": item.BSN[0],
            "Rom": item.BLADEROMVER[0],
            "Firmware": item.MGMTFWVERSION[0],
            "Power": item.POWER[0].POWERSTATE[0],
            "Status": item.STATUS[0],
            
          }
        });
      }

      getEnclosureError(event) {
        console.log("getEnclosureError")
        if (!event.detail.request.xhr.response) {
          this.error = event.detail.request.xhr.response.message;
          console.log(this.error);
        } else {
          this.error = event;
        }
      }

      getEnclosuresResponse(event) {
        this.error = "";
        var response = event.detail.response;

        console.log("response")
        console.log(response)

        this.enclosures = response.enclosures.map(item => {
          return {
            "Nombre": item._id,
            "Rack": item.data.RIMP.INFRA2[0].RACK[0],
            "SerialNumber": item.data.RIMP.INFRA2[0].ENCL_SN[0],
            "Ubicacion": item.data.RIMP.INFRA2[0].ASSET[0],
            "Estado": item.data.RIMP.INFRA2[0].STATUS[0]
          }
        });

        console.log("this.enclosures")
        console.log(this.enclosures);

      }

      getEnclosuresError(event) {
        console.log("getEnclosuresError")
        if (event.detail.request.xhr.response.message) {
          this.error = event.detail.request.xhr.response.message;
          console.log(this.error);
        } else {
          this.error = event;
        }
      }

    }

    window.customElements.define(EnclosureInfo.is, EnclosureInfo);
  </script>
</dom-module>