<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="enclosure-rack">
  <template>
    <style>
      :host {
        display: block;
        padding: 20px 20px;
      }

      #mensaje {
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
        color: white;
      }

      table {
        font-family: 'Arial', serif;
        font-size: 5pt;
      }

      caption {
        font-family: 'Arial', serif;
        font-size: 6pt;
        background-color: blue;
        color: white;
      }

      td.NOT_OWNED {
        background-color: lightgrey;
        text-align: center;
      }

      td.enclosure {
        background-color: lightblue;
        text-align: center;
      }

      td.u_rack {
        width: 9px;
        background-color: pink;
        text-align: center;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax id="getRacksAjax" method="get" content-type="application/json" handle-as="json"
      on-response="getRacksResponse" on-error="getRacksError">
    </iron-ajax>

    <div style="width: 100%;" hidden$="[[!storedUser.loggedin]]">
      <div style="float:left; width: 50%">
        <p id="reconquista"></p>
      </div>
      <div style="float:left; width: 50%">
        <p id="venezuela"></p>
      </div>
    </div>


    <p id="mensaje" hidden$="[[storedUser.loggedin]]">Debe <a href="/register-login">Iniciar Sesión</a> para poder
      acceder!</p>

  </template>


  <script>
    class EnclosureRack extends Polymer.Element {
      static get is() {
        return 'enclosure-rack';
      }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }


      ready() {
        super.ready();
        this.getRacks();
      }

      getRacks() {
        this.$.getRacksAjax.url = `http://visto-api:3001/api/enclosurerack`;

        this.$.getRacksAjax.generateRequest();

      }

      getRacksResponse(event) {
        this.error = "";
        var response = event.detail.response;

        // console.log("response")
        //console.log(response)

        this.cargar_tablas(response)
      }

      getRacksError(event) {
        //console.log("getRacksError")
        if (event.detail.request.xhr.response.message) {
          this.error = event.detail.request.xhr.response.message;
          //console.log(this.error);
        } else {
          this.error = event;
        }
      }

      cargar_tablas(response) {
        var myObj, x, txt = "";

        myObj = response;
        var CPDs = {
          "reconquista": new Array(),
          "venezuela": new Array()
        }
        let racks = myObj.enclosureracks
        for (let index in racks) {
          let rack = racks[index]
          CPDs[rack.cpd].push(rack._id)
        }

        // Armar la tabla basica
        //console.log(CPDs)
        for (let cpd in CPDs) {
          txt = "";
          txt += "<table celspacing='0' celpadding='1' width=90%>";
          txt += "<caption>" + cpd + "</caption>";

          txt += "<tr><th width=9>U</th>"
          for (let r in CPDs[cpd]) {
            txt += "<th>" + CPDs[cpd][r] + "</th>";
          }
          txt += "</tr>";

          for (let i = 42; i > 0; i--) {
            txt += "<tr><td class=u_rack id=U_" + i + ">" + i + "</td>";
            for (let r in CPDs[cpd]) {
              //txt += "<td class=NOT_OWNED id="+r+"_"+i+">"+r+"_"+i+"</td>";
              txt += "<td class=NOT_OWNED id=" + CPDs[cpd][r] + "_" + i + "></td>";
            }
            txt += "</tr>";
          }

          txt += "</table>"
          this.$[cpd].innerHTML = txt;

          let racks = myObj.enclosureracks   
          for (let index in racks) {
            if (racks[index].cpd === cpd) {
              let rack_id = racks[index]._id
              for (let r in racks[index].items) {
                let item = racks[index].items[r];
                for (let td = (item.U_pos - 1); td > (item.U_pos - item.U_height); td--) {
                  //console.log(this.shadowRoot.querySelector("#" + rack_id + "_" + td));
                  this.shadowRoot.querySelector("#" + rack_id + "_" + td).remove()
                }
                let componente = this.shadowRoot.querySelector("#" + rack_id + "_" + item.U_pos);
                componente.innerHTML = item.type + ":" + item.text;

                componente.rowSpan = item.U_height;
                componente.className = item.type;
                componente.id = cpd + "_" + item.text;

              }
            }
          }
        }
      }
    }
    window.customElements.define(EnclosureRack.is, EnclosureRack);
  </script>
</dom-module>