<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

<dom-module id="home-app">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 10px;
      }


      .logo {
        border: 2px solid black;
        padding: 1px;
        background-image: url("/images/Avatar-BBVA-Categoria-2-Base.png");
        background-color: #cccccc;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        opacity: 0.75;
      }
    </style>
    <div class="logo"></div>
  </template>

  <script>
    class HomeApp extends Polymer.Element {
      static get is() {
        return 'home-app';
      }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>