<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">

<dom-module id="log-out">
  <template>
    <style>
      :host {
        margin: 0;
        padding: 0;
      }

      paper-button {
        color: var;
      }

      paper-button.link {
        color: darkblue;
        display: inline-block;
        font-size: 13px;
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: darkblue;

        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-white-a200) !important;
          color: white !important;
        }

        ;
      }

      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }

      paper-icon-button.pink {
        color: var(--paper-pink-500);
        --paper-icon-button-ink-color: var(--paper-white-500);
      }

      paper-icon-button.pink:hover {
        background-color: var(--paper-white-500);
        color: white;
      }

      paper-icon-button.blue {
        --paper-icon-button-ink-color: var(--paper-orange-500);
        background-color: var(--app-toolbar-back);
        color: white;
        border-radius: 3px;
        padding: 2px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <template is="dom-if" if="{{!link}}">
      <paper-button raised class="blue" on-tap="logout">Cerrar Sesión: [[storedUser.name]]</paper-button>
    </template>

    <template is="dom-if" if="{{link}}">
      <paper-icon-button icon="my-icons:cancel" title="Cerrar Sesión" class="blue" on-tap="logout"></paper-icon-button>

    </template>
  </template>

  <script>
    (function () {
      class LogOut extends Polymer.Element {
        static get is() {
          return 'log-out';
        }

        static get properties() {
          return {
            storedUser: Object,
            link: {
              type: Boolean,
              value: false
            }
          }
        }

        logout() {
          this.storedUser = null;
          console.log("logout");
          this.set('route.path', '/home-app');
        }
      }

      window.customElements.define(LogOut.is, LogOut);
    }());
  </script>
</dom-module>
