<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="home-app.html">
<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="not-found.html">

<link rel="lazy-import" href="enclosure-info.html">
<link rel="lazy-import" href="enclosure-rack.html">
<link rel="lazy-import" href="enclosure-doc.html">

<link rel="lazy-import" href="virtual-info.html">
<link rel="lazy-import" href="virtual-rack.html">
<link rel="lazy-import" href="virtual-doc.html">

<link rel="lazy-import" href="storage-info.html">
<link rel="lazy-import" href="storage-rack.html">
<link rel="lazy-import" href="storage-doc.html">


<link rel="lazy-import" href="calendario-cgr.html">
<link rel="lazy-import" href="calendario-visto.html">

<link rel="import" href="log-out.html">



<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #002447;
        --app-home: #00a9a5;
        --app-toolbar-item: #002447;
        --app-toolbar-item-color: #00bdff;
        --app-toolbar-back: #004380;
        --app-panel: #cfedf9;
        --app-secondary-color: black;

        --app-drawer-width: 200px;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-drawer {
        color: var(--app-primary-color);
        background-color: var(--app-primary-color);
      }

      #tlbLeft {
        color: #fff;
        background-color: var(--app-home);
      }

      #tlbRight {
        color: var(--app-toolbar-back);
        background-color: #fff;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 0px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: white;
        background-color: var(--app-primary-color);
        line-height: 30px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      .leftside {
        height: 100%;
        color: #fff;
        background-color: var(--app-toolbar-item);
      }

      app-header .greeting,
      app-header a {
        color: darkblue;
        font-size: 13px;
      }

      app-header .greeting {
        border-right: 1px solid rgba(0, 0, 139, .5);
        display: inline-block;
        padding-right: 6px;
      }

      paper-icon-button.blue:hover {
        background-color: var(--app-toolbar-item);
        color: white;
      }

      paper-icon-button.blue {
        background-color: var(--app-toolbar-item);
        color: var(--app-toolbar-item-color);
        border-radius: 3px;
        padding: 2px;
      }

      paper-icon-button.blueitem:hover {
        background-color: var(--app-toolbar-item);
        color: white;
      }

      paper-icon-button.blueitem {
        background-color: var(--app-toolbar-item);
        color: var(--app-toolbar-item-color);
        border-radius: 1px;
        padding: 1px;
        height: 24px;
      }

      .title_text {
        display: block;
        background-color: var(--app-toolbar-item);
      }

      .item {
        font-size: 10px;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <div class="leftside">
          <app-toolbar id="tlbLeft">

            <div name="home-app">
              <a href="[[rootPath]]home-app">
                <paper-icon-button src="images/favicon_visto.png" title="ViSto" class="blue"></paper-icon-button>

              </a>
            </div>
          </app-toolbar>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <!--
          <div name="home-quotes">
            <a href="[[rootPath]]home-quotes">
                <paper-icon-button icon="my-icons:storage" title="Storage" class="blue" ></paper-icon-button>
            </a>
          </div>
          -->
            <div name="Enclosure">

              <paper-icon-button icon="my-icons:memory" title="Enclosure" class="blue"></paper-icon-button>
              <span>Enclosures</span>

              <div name="Enclosure-info " class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]enclosure-info">
                  <paper-icon-button icon="my-icons:memory" title="Enclosure Info" class="blueitem"></paper-icon-button>
                  <span>Info</span>
                </a>
              </div>
              <div name="Enclosure-rack" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]enclosure-rack">
                  <paper-icon-button icon="my-icons:memory" title="Enclosure Rack" class="blueitem"></paper-icon-button>
                  <span>Rack</span>
                </a>
              </div>
              <div name="Enclosure-doc" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]enclosure-doc">
                  <paper-icon-button icon="my-icons:memory" title="Enclosure Documentación" class="blueitem">
                  </paper-icon-button>
                  <span>Documentación</span>
                </a>
              </div>
            </div>

            <div name="Virtualización">

              <paper-icon-button icon="my-icons:computer" title="Virtualización" class="blue"></paper-icon-button>
              <span>Virtualización</span>

              <div name="Virtual-info " class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]virtual-info">
                  <paper-icon-button icon="my-icons:computer" title="Virtualización Info" class="blueitem">
                  </paper-icon-button>
                  <span>Info</span>
                </a>
              </div>
              <div name="Virtual-rack" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]virtual-rack">
                  <paper-icon-button icon="my-icons:computer" title="Virtualización Rack" class="blueitem">
                  </paper-icon-button>
                  <span>Rack</span>
                </a>
              </div>
              <div name="Virtual-doc" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]virtual-doc">
                  <paper-icon-button icon="my-icons:computer" title="Virtualización Documentación" class="blueitem">
                  </paper-icon-button>
                  <span>Documentación</span>
                </a>
              </div>
            </div>
            <div name="Storage">

              <paper-icon-button icon="my-icons:storage" title="Storage" class="blue"></paper-icon-button>
              <span>Storage</span>

              <div name="Storage-info " class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]storage-info">
                  <paper-icon-button icon="my-icons:storage" title="Storage Info" class="blueitem"></paper-icon-button>
                  <span>Info</span>
                </a>
              </div>
              <div name="Storage-rack" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]storage-rack">
                  <paper-icon-button icon="my-icons:storage" title="Storage Rack" class="blueitem"></paper-icon-button>
                  <span>Rack</span>
                </a>
              </div>
              <div name="Storage-doc" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]storage-doc">
                  <paper-icon-button icon="my-icons:storage" title="Storage Documentación" class="blueitem">
                  </paper-icon-button>
                  <span>Documentación</span>
                </a>
              </div>
            </div>
            <div name="Calendario">

              <paper-icon-button icon="my-icons:date-range" title="Calendario" class="blue"></paper-icon-button>
              <span>Calendario</span>

              <div name="Calendario-cgr" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]calendario-cgr">
                  <paper-icon-button icon="my-icons:date-range" title="Calendario CGR" class="blueitem">
                  </paper-icon-button>
                  <span>Calendario CGR</span>
                </a>
              </div>
              <div name="Calendario-visto" class="item" hidden$="[[!storedUser.loggedin]]">
                <a href="[[rootPath]]calendario-visto">
                  <paper-icon-button icon="my-icons:date-range" title="Calendario ViSto" class="blueitem">
                  </paper-icon-button>
                  <span>Calendario ViSto</span>
                </a>
              </div>

            </div>
          </iron-selector>
        </div>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar id="tlbRight">
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Virtualización y Storage</div>
            <a name="register-login" href="[[rootPath]]register-login" hidden$="[[storedUser.loggedin]]">
              <paper-icon-button icon="my-icons:play-circle-filled" title="Inicia Sesión" class="blue">
              </paper-icon-button>
            </a>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Usuario [[storedUser.name]]!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="not-found" role="main">
          <home-app name="home-app"></home-app>
          <register-login name="register-login"></register-login>
          <not-found name="not-found"></not-found>

          <enclosure-info name="enclosure-info"></enclosure-info>
          <enclosure-rack name="enclosure-rack"></enclosure-rack>
          <enclosure-doc name="enclosure-doc"></enclosure-doc>

          <virtual-info name="virtual-info"></virtual-info>
          <virtual-rack name="virtual-rack"></virtual-rack>
          <virtual-doc name="virtual-doc"></virtual-doc>

          <storage-info name="storage-info"></storage-info>
          <storage-rack name="storage-rack"></storage-rack>
          <storage-doc name="storage-doc"></storage-doc>

          <calendario-cgr name="calendario-cgr"></calendario-cgr>
          <calendario-visto name="calendario-visto"></calendario-visto>


        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() {
        return 'my-app';
      }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        //this.page = page || 'home-quotes';
        this.page = page || 'home-app';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
