<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="register-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .wrapper-btns {
        margin-top: 15px;
      }

      paper-button.link {
        color: #757575;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

      input {
        position: relative;
        /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>

    <iron-ajax id="registerLoginAjax" method="post" content-type="application/json" handle-as="json"
      on-response="handleUserResponse" on-error="handleUserError">
    </iron-ajax>


    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-location route="{{route}}"></app-location>

    <div class="card">
      <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
        <h1>Inicia Sesión</h1>

        <p><strong>Inicia Sesión</strong> o <strong>Regístrate</strong> para acceder</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Usuario</label>
          <iron-input slot="input" auto-validate bind-value="{{formData.username}}">
            <input class="input-style" id="username" required type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{formData.username}}" placeholder="Usuario"
              title="Debe ser un email">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Contraseña</label>
          <iron-input slot="input" auto-validate bind-value="{{formData.password}}">
            <input class="input-style" id="password" type="password" required pattern=".{6,}"
              value="{{formData.password}}" placeholder="Contraseña" title="Al menos 6 caracteres">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Inicia Sesión</paper-button>
          <paper-button class="link" on-tap="postRegister">Regístrate</paper-button>
        </div>
      </div>
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Usuario: [[storedUser.name]]!</h2>
        <p>Estás conectado!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>
  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() {
        return 'register-login';
      }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
        }
      }

      _setReqBody() {
        this.$.registerLoginAjax.body = this.formData;
      }

      postLogin() {
        console.log(this.$.username.validity.valid)
        if (!this.$.username.validity.valid) {
          this.error = "El usuario debe ser un email"
          return;
        }
        if (!this.$.password.validity.valid) {
          this.error = "La contraseña debe tener al menos 6 caracteres"
          return;
        }
        this.$.registerLoginAjax.url = 'http://visto-api:3001/api/signin';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      postRegister() {
        this.$.registerLoginAjax.url = 'http://visto-api:3001/api/signup';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      handleUserResponse(event) {
        var response = event.detail.response;

        console.log(response)
        if (response.token) {
          console.log(response.token)
          this.error = '';
          this.storedUser = {
            name: this.formData.username,
            access_token: response.token,
            loggedin: true
          };
          // redirect to Home
          this.set('route.path', '/home-app');
        }

        // reset form data
        this.formData = {};
      }

      handleUserError(event) {
        console.log("handleUserError")
        if (event.detail.request.xhr.response.message) {
          this.error = event.detail.request.xhr.response.message;
          console.log(this.error);
        } else {
          this.error = event;
        }
      }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>