<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="shared-styles.html">

<dom-module id="virtual-doc">
  <template>
    <style>
      :host {
        display: block;
        padding: 20px 20px;
      }

      #mensaje {
        font-family: 'Roboto', 'Noto', sans-serif;
        line-height: 1.5;
        color: white;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}" on-iron-localstorage-load="initStoredUser">
    </iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>


    <iframe hidden$="[[!storedUser.loggedin]]" width="100%" height="600px"
    src="https://docs.google.com/spreadsheets/d/1YpNCAVqAhUre1vlXslI5vwhwa7n6vldkjjBxaWxykGE"
    ></iframe>
    <p id="mensaje" hidden$="[[storedUser.loggedin]]">Debe <a href="/register-login">Iniciar Sesión</a> para poder
      acceder!</p>

  </template>


  <script>
    class VirtualDoc extends Polymer.Element {
      static get is() {
        return 'virtual-doc';
      }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }
    }

    window.customElements.define(VirtualDoc.is, VirtualDoc);
  </script>
</dom-module>